/*general styles*/
html *
{
   font-family: 'Roboto', sans-serif;
   color: #2d3c49;
}

body
{
	background-color: #CAE8FF;
}

.navigation,
a,
button {
    min-width: 48px;
    min-height: 48px;
}

a {
  outline: none;
  text-decoration: none;
}

a:visited {
  color: black;
}

/*speciffic styles*/
#cardsDeck
{
	display: grid;
	grid-template-columns: 70px 70px 70px 70px;
	grid-template-rows: 70px 70px 70px 70px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	align-items: center;
	justify-content: center;
	width: 295px;
	margin: auto;
	z-index: 1;
}

.card
{
	width: 100%;
	height: 100%;
	background-color: #707887;
	border-radius: 5px;
}

img
{
	height: 95%;
	padding: 2px;
}

.hideCard
{
	opacity:0;
}

.showCard
{
	opacity:1;
}

h1
{
	text-align: center;
}

section
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.container
{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.modal
{
	background-color: rgba(80, 200, 70, 0.8);
	width: 100%;
	height: 325px;
	margin: 0 auto;
	margin-top: -320px;
	text-align: center;
	border-radius: 5px;
	z-index: 100;
}

/*tablet media query*/
@media screen and (min-width: 550px) {

	#cardsDeck
	{
		grid-template-columns: 100px 100px 100px 100px;
		grid-template-rows: 100px 100px 100px 100px;
		grid-column-gap: 7px;
		grid-row-gap: 7px;
		width: 421px;		
	}

	.card
	{
		border-radius: 8px;
	}

	.modal
	{
		width: 431px;
		height: 431px;
		margin-top: -426px;
		border-radius: 7px;
	}
}

/*desktop media query*/
@media screen and (min-width: 800px) {
	.container {
		width: 800px;
		margin: 0 auto;
	}

	#cardsDeck
	{
		grid-template-columns: 125px 125px 125px 125px;
		grid-template-rows: 125px 125px 125px 125px;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		width: 530px;	
	}

	.card
	{
		border-radius: 10px;
	}

	.modal
	{
		width: 540px;
		height: 540px;
		margin-top: -535px;
		border-radius: 10px;
	}
}
