/*general styles*/
html *
{
   font-family: 'Roboto', sans-serif;
   color: #2d3c49;
}

body
{
	background-color: #CAE8FF;
}

#cardsDeck
{
	display: grid;
	grid-template-columns: 75px 75px 75px 75px;
	grid-template-rows: 75px 75px 75px 75px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	align-items: center;
	justify-content: center;
	width: 315px;
	margin: auto;
	background-color: #aaE888;
	z-index: 1;
}

.card
{
	width: 100%;
	height: 100%;
	background-color: #707887;
	border-radius: 5px;
}

img
{
	height: 95%;
	padding: 2px;
}

.hideCard
{
	opacity:0;
}

.showCard
{
	opacity:1;
}

h1
{
	text-align: center;
}

section
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.container
{
	display: flex;
	flex-direction: column;
	width: 90%;
}

.modal
{
	background-color: rgba(80, 200, 70, 0.9);
	width: 50%;
	height: 310px;
	margin: 0 auto;
	margin-top: -312px;
	text-align: center;
	border-radius: 5px;
	z-index: 100;
}